[run]
branch = True
parallel = True
source = transmission

[paths]
source=
   src/transmission
   .tox/*/lib/python*/site-packages/transmission
   .tox/*/Lib/site-packages/transmission
   .tox/pypy*/site-packages/transmission

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
