__pycache__/
/_trial_temp/
/.coverage
/.hypothesis/
/.ruff_cache
/.venv/
/build/
/cached/
/conf/rtx.toml
/coverage.xml
/data/
/dist/
/htmlcov/
/htmldocs/
/reflex_app/.web/
/rtx.sqlite
/src/*.egg-info/
/wheels/
