__pycache__/
/.ruff_cache
/coverage.xml
/data/
/python/_trial_temp/
/python/.coverage
/python/.hypothesis/
/python/.mypy_cache
/python/.venv/
/python/build/
/python/cached/
/python/conf/rtx.toml
/python/dist/
/python/htmlcov/
/python/htmldocs/
/python/src/*.egg-info/
/python/wheels/
/reflex_app/.web/
/rtx.sqlite
