include .coveragerc
include .pre-commit-config.yaml
include codecov.yml
include conf/rtx-sample.toml
include COPYRIGHT.txt
include LICENSE.txt
include mypy.ini
include pyproject.toml
include src/transmissions/store/sqlite/schema/*.sqlite
include tox.ini
include uv.lock
