arrow==1.3.0
attrs==24.2.0
cattrs==24.1.2
click==8.1.7
klein==24.8.0
openai-whisper==20240930
playsound==1.3.0
pydub==0.25.1
pyobjc==10.3.1; sys_platform=="darwin"
rich==13.9.4
simpleaudio==1.0.4; sys_platform=="darwin"
textual==0.87.1
Twisted==24.10.0
Whoosh==2.7.4
